*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url('images/card1.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    object-fit: cover;
    object-position: center;
    background-color: transparent;
    text-decoration-thickness: 2000;
    text-decoration-thickness: 2000;
    color:paleturquoise
}